*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2 {
    font: inherit;
}

body {
    font:16px/1.2 'Poppins', sans-serif;
    background: linear-gradient(45deg, hsl(0deg 0% 0% / 70%), rgb(0 0 0 / 67%));
}

.appHeader {
    margin-top: 20px;
}

.tablinks {
    background: #212121 !important;
    color: white !important;
}

.nav-link.active {
    background: #363636 !important;
    color: #888888 !important;
}

.search {
    background: black;
    color: white;
    border-radius: 25px;
}

.search.input {
    color: white;
}

.appsHeader {
    color: white;
}

#game {
    display: none;
}

#browse {
    display: none;
}

.fullscreen {
    display: block;
    color: white;
    margin: 20px;
    font-size: 25px;
    float: right;
}

.footer {
    position: fixed;
    bottom: 0;
    display: block;
    width: 100%;
}
