*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2 {
    font: inherit;
}

body {
    font:16px/1.2 'Poppins', sans-serif;
    background: black;
}

.appHeader {
    margin-top: 20px;
}

.tablinks {
    background: #212121 !important;
    color: white !important;
}

.nav-link.active {
    background: #363636 !important;
    color: #888888 !important;
}

.search {
    background: black;
    color: white;
    border-radius: 25px;
}

.search.input {
    color: white;
}

.appsHeader {
    color: white;
}

.fullscreen {
    display: block;
    color: black;
    margin: 20px;
    font-size: 25px;
    float: right;
    background: white;
    padding: 10px;
    border-radius: 5px;
}

.footer {
    position: fixed;
    bottom: 0;
    display: block;
    width: 100%;
}

.horizontal-scroll::-webkit-scrollbar {
    width: 2px;
    height: 3px;
}

.horizontal-scroll::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
}

.horizontal-scroll::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

.horizontal-scroll {
    display: flex !important;
    overflow-x: auto;
    display: flex;
}

.headers {
    color: white;
    font-weight: bold;
    font-size: 25px;
}

.container {
    width: 100%;
    max-width: 100%;
    padding-left: 25px;
    padding-bottom: 10px;
}

.tabsContent {
    padding-top: 25px;
    padding-bottom: 70px;
}

.title {
    width: 100%;
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
}
